name: 'update profile'
on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    - cron: '36 20 * * Sat'

jobs:
  feed:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: master
          fetch-depth: 0
      - name: Checkout fix
        run: |
          git pull
      - name: Update feed / Qiita
        uses: sarisia/actions-readme-feed@bdde7fdb36e19b030b77cf1f7b7f09db68219f32 # v1.10.1
        with:
          url: 'https://qiita.com/tsuyoshi_cho/feed'
          file: 'README.adoc'
          format: '* ${monthshort} ${02day}: ${url}[${title}]'
          start_flag: '// qiita start'
          end_flag: '// qiita end'
      - name: Update feed / Zenn
        uses: sarisia/actions-readme-feed@bdde7fdb36e19b030b77cf1f7b7f09db68219f32 # v1.10.1
        with:
          url: 'https://zenn.dev/tsuyoshicho/feed'
          file: 'README.adoc'
          format: '* ${monthshort} ${02day}: ${url}[${title}]'
          start_flag: '// zenn start'
          end_flag: '// zenn end'
      - name: Get current time
        uses: josStorer/get-current-time@060cae3fbd32c181c6841788189a601ac8df8389 # v2.1.2
        id: current-time
      - name: Commit changes
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          default_author: github_actions
          message: 'Update profile page / ${{ steps.current-time.outputs.ISOTime }}'
          add: 'README.adoc'
        env:
          GITHUB_TOKEN: ${{ secrets.PROFILE_TOKEN }}

  metrics:
    needs: feed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: master
          fetch-depth: 0
      - name: Update metrics
        uses: lowlighter/metrics@latest
        with:
          user: ${{ github.repository_owner }}
          token: ${{ secrets.PROFILE_TOKEN }}
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Tokyo
          plugin_achievements: yes
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_followup: yes
          plugin_followup_sections: repositories
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_threshold: 0%
          plugin_people: yes
          plugin_people_limit: 28
          plugin_people_size: 28
          plugin_people_types: followers, following
          plugin_reactions: yes
          plugin_reactions_display: absolute
          plugin_reactions_ignored: github-actions[bot], dependabot[bot],profile-summary-cards[bot]
          plugin_reactions_limit: 200
          plugin_topics: yes
          plugin_topics_limit: 15
          plugin_topics_mode: mastered
          plugin_topics_sort: stars

  summary:
    needs: metrics
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: master
          fetch-depth: 0
      - name: Checkout fix
        run: |
          git pull
      - name: Update summary
        uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.PROFILE_TOKEN }}
